# macOS
.DS_Store

# STM32CubeIDE build output
Debug/
Release/

# Build products
*.o
*.d
*.su
*.cyclo
*.elf
*.bin
*.hex
*.map
*.list

# Local IDE/runtime noise
.metadata/

# CubeIDE local launch configs
*.launch
